In [ ]:
import numpy as np
import pandas as pd
import random

In [ ]:
df = pd.DataFrame(index = [i for i in range(10000)],columns = [['person_id','성별','나이','직업','소득(연)','자산','월별 카드 값','주식','선물옵션','장내채권']])

In [ ]:
# 성별, 나이추가 
# 성별은 남자 0, 여자 1, 나이는 20세~70세까지 10단위(20세~29세 : 0, 30세~39세:1,..., 60~69 : 4)
for i in range(10000):
    df.iloc[i]['person_id'] = int(10000+i)
for i in range(10000):
    df.iloc[i]['성별'] = random.randrange(0,2)
for i in range(10000):
    df.iloc[i]['나이'] = random.randrange(0,5)

In [ ]:
job_wage = pd.read_csv('job_wage.csv')

In [ ]:
# 20대 중 절반은 학생이고 소득은 연간 1000만원 이하 랜덤으로 번다고 가정
# 학생이 아닌 나머지 직업들도 랜덤으로 배정하고 연간 소득은 10살마다 1000만원 증가한다고 가정
# 재산은 소득의 5~10배 정도 있다고 가정함
for i in range(10000):
    if (df.iloc[i]['나이'][0] == 0) and (i%2==0) :
        df.iloc[i]['직업'] = '학생'
        df.iloc[i]['소득(연)'] = random.randrange(0,1000)
        df.iloc[i]['자산'] = df.iloc[i]['소득(연)'] * random.randrange(5,11)
    else:
        j = random.randrange(0,622)
        df.iloc[i]['직업'] = job_wage.iloc[j]['직업명']
        df.iloc[i]['소득(연)'] = int(job_wage.iloc[j]['임금(만원)']) + df.iloc[i]['나이']*1000
        df.iloc[i]['자산'] = df.iloc[i]['소득(연)'] * random.randrange(5,11)

In [ ]:
## 1년간의 월별 카드값 생성
new_df = pd.DataFrame(columns = [['person_id','성별','나이','직업','소득(연)','자산','월별 카드 값','주식','선물옵션','장내채권']])
for i in range(10000):
    for _ in range(12):
        new_df=new_df.append(df.iloc[i])

In [ ]:
new_df

     person_id 성별 나이               직업 소득(연)     자산 월별 카드 값   주식 선물옵션 장내채권
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
...        ... .. ..              ...   ...    ...     ...  ...  ...  ...
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN

[120000 rows x 10 columns]

In [ ]:
new_df.to_csv("test.csv")

In [ ]:
new_df

     person_id 성별 나이               직업 소득(연)     자산 월별 카드 값   주식 선물옵션 장내채권
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
0        10000  0  4             공군장교  6690  60210     NaN  NaN  NaN  NaN
...        ... .. ..              ...   ...    ...     ...  ...  ...  ...
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN
9999     19999  0  0  사진인화 및 현상관련 조작원  2181  19629     NaN  NaN  NaN  NaN

[120000 rows x 10 columns]

In [ ]:
# 월별 카드 값은 자신의 월급의 30~50퍼센트 사용
# 주식 상품의 경우 자신의 월급의 0~30퍼센트 사용
# 선물 옵션의 경우 자신의 월급의 0~10퍼센트 사용
# 장내채권의 경우 자신의 월급의 0~10퍼센트 사용
# 20%의 사람들은 한번도 주식을 사본적 없는 사람들임
for i in range(120000):
    new_df.iloc[i]['월별 카드 값'] = int(new_df.iloc[i]['소득(연)']/12*(random.uniform(0.3,0.5)))
for i in range(96000):
    new_df.iloc[i]['주식'] = int(new_df.iloc[i]['소득(연)']/12*(random.uniform(0,0.3)))
    new_df.iloc[i]['선물옵션'] = int(new_df.iloc[i]['소득(연)']/12*(random.uniform(0,0.1)))
    new_df.iloc[i]['장내채권'] = int(new_df.iloc[i]['소득(연)']/12*(random.uniform(0,0.1)))

In [ ]:
df=new_df.fillna(0)

In [ ]:
mon=[i for _ in range(10000) for i in range(1,13) ]

In [ ]:
df.insert(0, '월',mon)

In [ ]:
df.to_csv("sk_data.csv")