In [ ]:
import pickle
import numpy as np
import pandas as pd

In [ ]:
# 데이터 불러오기
data = pd.read_csv('sk_data.csv')
job_wage = pd.read_csv('job_wage.csv')
with open('recommend_dict', 'rb') as fr:
     recommend_dict = pickle.load(fr)

In [ ]:
## 연봉이 낮으면 낮은 숫자
job_dict = {}

for num,i in enumerate(job_wage[::-1]['직업명']):
    job_dict[i] = num+1

In [ ]:
job_wage

         직업명  임금(만원)
0        도선사   13057
1     기업고위임원   12203
2        변호사   10100
3       국회의원    8500
4     항공기조종사    8276
..       ...     ...
617      파출부    1107
618  교무(원불교)    1084
619      경비원    1054
620    설문조사원    1036
621      전도사    1033

[622 rows x 2 columns]

In [ ]:
job_dict['학생'] = 0

In [ ]:
data['직업']=data['직업'].replace(job_dict)

In [ ]:
del data['Unnamed: 0']

In [ ]:
data[:12]

     월  person_id  성별  나이    직업  소득(연)     자산  월별 카드 값
0    1      10000   0   4  공군장교   6690  60210      217
1    2      10000   0   4  공군장교   6690  60210      269
2    3      10000   0   4  공군장교   6690  60210      223
3    4      10000   0   4  공군장교   6690  60210      191
4    5      10000   0   4  공군장교   6690  60210      200
5    6      10000   0   4  공군장교   6690  60210      255
6    7      10000   0   4  공군장교   6690  60210      249
7    8      10000   0   4  공군장교   6690  60210      188
8    9      10000   0   4  공군장교   6690  60210      210
9   10      10000   0   4  공군장교   6690  60210      194
10  11      10000   0   4  공군장교   6690  60210      276
11  12      10000   0   4  공군장교   6690  60210      190

In [ ]:
del data['person_id']

In [ ]:
del data['주식']
del data['선물옵션']
del data['장내채권']
del data['월']

In [ ]:
data

         월  성별  나이   직업  소득(연)     자산  월별 카드 값
0        1   0   4  220   6690  60210      217
1        2   0   4  220   6690  60210      269
2        3   0   4  220   6690  60210      223
3        4   0   4  220   6690  60210      191
4        5   0   4  220   6690  60210      200
...     ..  ..  ..  ...    ...    ...      ...
119995   8   0   0  105   2181  19629       56
119996   9   0   0  105   2181  19629       73
119997  10   0   0  105   2181  19629       63
119998  11   0   0  105   2181  19629       67
119999  12   0   0  105   2181  19629       78

[120000 rows x 7 columns]

In [ ]:
def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)

In [ ]:
data['월'] = data['월']/12
data['나이'] = data['나이']/4
data['직업'] = data['직업']/622
data[['소득(연)','자산','월별 카드 값']] = mean_norm(data.loc[:,['소득(연)','자산','월별 카드 값']])

In [ ]:
re_df=data[:96000]
no_df=data[96000:]

In [ ]:
re_df

              월  성별   나이        직업     소득(연)        자산   월별 카드 값
0      0.083333   0  1.0  0.353698  0.668103  1.072889  0.566848
1      0.166667   0  1.0  0.353698  0.668103  1.072889  1.184595
2      0.250000   0  1.0  0.353698  0.668103  1.072889  0.638126
3      0.333333   0  1.0  0.353698  0.668103  1.072889  0.257974
4      0.416667   0  1.0  0.353698  0.668103  1.072889  0.364892
...         ...  ..  ...       ...       ...       ...       ...
95995  0.666667   0  0.0  0.292605 -1.077758 -0.762942 -0.858723
95996  0.750000   0  0.0  0.292605 -1.077758 -0.762942 -1.179476
95997  0.833333   0  0.0  0.292605 -1.077758 -0.762942 -1.048799
95998  0.916667   0  0.0  0.292605 -1.077758 -0.762942 -1.191356
95999  1.000000   0  0.0  0.292605 -1.077758 -0.762942 -0.882482

[96000 rows x 7 columns]

In [ ]:
re_array=re_df.to_numpy()

In [ ]:
re_array.shape

(96000, 7)

In [ ]:
re_array=re_array.reshape(8000,12,7)

In [ ]:
re_array

array([[[ 0.08333333,  0.        ,  1.        , ...,  0.66810293,
          1.07288882,  0.56684767],
        [ 0.16666667,  0.        ,  1.        , ...,  0.66810293,
          1.07288882,  1.18459494],
        [ 0.25      ,  0.        ,  1.        , ...,  0.66810293,
          1.07288882,  0.6381262 ],
        ...,
        [ 0.83333333,  0.        ,  1.        , ...,  0.66810293,
          1.07288882,  0.2936133 ],
        [ 0.91666667,  0.        ,  1.        , ...,  0.66810293,
          1.07288882,  1.26775322],
        [ 1.        ,  0.        ,  1.        , ...,  0.66810293,
          1.07288882,  0.24609428]],

       [[ 0.08333333,  0.        ,  0.        , ..., -0.72448906,
         -0.55554125, -0.78744443],
        [ 0.16666667,  0.        ,  0.        , ..., -0.72448906,
         -0.55554125, -0.38353275],
        [ 0.25      ,  0.        ,  0.        , ..., -0.72448906,
         -0.55554125, -0.79932418],
        ...,
        [ 0.83333333,  0.        ,  0.        , ..., -0.72448906,
         -0.55554125, -0.35977324],
        [ 0.91666667,  0.        ,  0.        , ..., -0.72448906,
         -0.55554125, -0.96564075],
        [ 1.        ,  0.        ,  0.        , ..., -0.72448906,
         -0.55554125, -0.49045055]],

       [[ 0.08333333,  1.        ,  0.75      , ...,  0.31274322,
         -0.1565666 , -0.12217813],
        [ 0.16666667,  1.        ,  0.75      , ...,  0.31274322,
         -0.1565666 ,  0.60248693],
        [ 0.25      ,  1.        ,  0.75      , ...,  0.31274322,
         -0.1565666 ,  0.70940473],
        ...,
        [ 0.83333333,  1.        ,  0.75      , ...,  0.31274322,
         -0.1565666 ,  0.02037893],
        [ 0.91666667,  1.        ,  0.75      , ...,  0.31274322,
         -0.1565666 ,  0.15105624],
        [ 1.        ,  1.        ,  0.75      , ...,  0.31274322,
         -0.1565666 , -0.18157691]],

       ...,

       [[ 0.08333333,  1.        ,  0.75      , ...,  0.36291165,
          0.46084764,  0.0797777 ],
        [ 0.16666667,  1.        ,  0.75      , ...,  0.36291165,
          0.46084764,  0.30549305],
        [ 0.25      ,  1.        ,  0.75      , ...,  0.36291165,
          0.46084764, -0.11029838],
        ...,
        [ 0.83333333,  1.        ,  0.75      , ...,  0.36291165,
          0.46084764,  0.78068326],
        [ 0.91666667,  1.        ,  0.75      , ...,  0.36291165,
          0.46084764,  0.80444277],
        [ 1.        ,  1.        ,  0.75      , ...,  0.36291165,
          0.46084764,  0.74504399]],

       [[ 0.08333333,  1.        ,  0.5       , ..., -0.73828538,
         -0.73089861, -0.79932418],
        [ 0.16666667,  1.        ,  0.5       , ..., -0.73828538,
         -0.73089861, -0.71616589],
        [ 0.25      ,  1.        ,  0.5       , ..., -0.73828538,
         -0.73089861, -0.62112785],
        ...,
        [ 0.83333333,  1.        ,  0.5       , ..., -0.73828538,
         -0.73089861, -0.41917201],
        [ 0.91666667,  1.        ,  0.5       , ..., -0.73828538,
         -0.73089861, -0.70428614],
        [ 1.        ,  1.        ,  0.5       , ..., -0.73828538,
         -0.73089861, -0.46669103]],

       [[ 0.08333333,  0.        ,  0.        , ..., -1.07775842,
         -0.76294163, -1.15571684],
        [ 0.16666667,  0.        ,  0.        , ..., -1.07775842,
         -0.76294163, -1.1913561 ],
        [ 0.25      ,  0.        ,  0.        , ..., -1.07775842,
         -0.76294163, -1.12007757],
        ...,
        [ 0.83333333,  0.        ,  0.        , ..., -1.07775842,
         -0.76294163, -1.04879904],
        [ 0.91666667,  0.        ,  0.        , ..., -1.07775842,
         -0.76294163, -1.1913561 ],
        [ 1.        ,  0.        ,  0.        , ..., -1.07775842,
         -0.76294163, -0.88248247]]])

In [ ]:
cha_dict = {'증권사1':[1,0,0],'증권사2':[0,1,0],'증권사3':[0,0,1]}
y_list = []
for i in recommend_dict.values():
    y_list.append(cha_dict[i])

In [ ]:
y=np.array(y_list)

In [ ]:
re_array.shape

(8000, 12, 7)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(re_array,y,test_size=0.2,shuffle=True,random_state=1004)

# 1D CNN classification model

In [ ]:
import tensorflow as tf
import keras

from keras import regularizers
from keras.layers import Flatten
from sklearn.model_selection import train_test_split
import tensorflow.keras.backend as K
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.layers import Input,Conv1D,Dense,Dropout,MaxPooling1D,ZeroPadding1D, Flatten,BatchNormalization,Lambda

import matplotlib.pyplot as plt

In [ ]:
inputShape = (12,7)
model = Sequential()
model.add(Conv1D(16, 3, padding="same",input_shape = inputShape, activation="relu"))
model.add(BatchNormalization())
model.add(MaxPooling1D(2))
model.add(Dropout(0.3))

model.add(Conv1D(32, 3, padding="same",input_shape = inputShape, activation="relu"))
model.add(BatchNormalization())
model.add(MaxPooling1D(2))
model.add(Dropout(0.3))

model.add(Conv1D(32, 3, padding="same",input_shape = inputShape, activation="relu"))
model.add(BatchNormalization())
model.add(MaxPooling1D(2))
model.add(Dropout(0.3))

model.add(Flatten())
model.add(Dense(3,activation = 'softmax'))

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    batch_size=32,
    epochs=50)

Epoch 1/50
200/200 [==============================] - 2s 4ms/step - loss: 0.5863 - accuracy: 0.5617 - val_loss: 0.4659 - val_accuracy: 0.6294
Epoch 2/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4860 - accuracy: 0.6014 - val_loss: 0.4411 - val_accuracy: 0.6281
Epoch 3/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4694 - accuracy: 0.5939 - val_loss: 0.4402 - val_accuracy: 0.6263
Epoch 4/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4632 - accuracy: 0.5956 - val_loss: 0.4351 - val_accuracy: 0.6288
Epoch 5/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4576 - accuracy: 0.5861 - val_loss: 0.4356 - val_accuracy: 0.6313
Epoch 6/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4561 - accuracy: 0.5967 - val_loss: 0.4350 - val_accuracy: 0.6187
Epoch 7/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4529 - accuracy: 0.6012 - val_loss: 0.4377 - val_accuracy: 0.6206
Epoch 8/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4527 - accuracy: 0.5956 - val_loss: 0.4361 - val_accuracy: 0.6294
Epoch 9/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4516 - accuracy: 0.5927 - val_loss: 0.4331 - val_accuracy: 0.6112
Epoch 10/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4538 - accuracy: 0.5891 - val_loss: 0.4359 - val_accuracy: 0.6200
Epoch 11/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4478 - accuracy: 0.5989 - val_loss: 0.4346 - val_accuracy: 0.6175
Epoch 12/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4459 - accuracy: 0.5978 - val_loss: 0.4379 - val_accuracy: 0.6144
Epoch 13/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4508 - accuracy: 0.5986 - val_loss: 0.4307 - val_accuracy: 0.6081
Epoch 14/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4492 - accuracy: 0.6030 - val_loss: 0.4329 - val_accuracy: 0.6125
Epoch 15/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4463 - accuracy: 0.5980 - val_loss: 0.4339 - val_accuracy: 0.6119
Epoch 16/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4470 - accuracy: 0.5995 - val_loss: 0.4315 - val_accuracy: 0.6187
Epoch 17/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4453 - accuracy: 0.5973 - val_loss: 0.4331 - val_accuracy: 0.6256
Epoch 18/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4435 - accuracy: 0.6052 - val_loss: 0.4343 - val_accuracy: 0.6200
Epoch 19/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4456 - accuracy: 0.6061 - val_loss: 0.4339 - val_accuracy: 0.6094
Epoch 20/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4434 - accuracy: 0.6050 - val_loss: 0.4310 - val_accuracy: 0.6056
Epoch 21/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4447 - accuracy: 0.5942 - val_loss: 0.4334 - val_accuracy: 0.6206
Epoch 22/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4442 - accuracy: 0.6033 - val_loss: 0.4315 - val_accuracy: 0.6175
Epoch 23/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4449 - accuracy: 0.5970 - val_loss: 0.4335 - val_accuracy: 0.6056
Epoch 24/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4446 - accuracy: 0.6036 - val_loss: 0.4326 - val_accuracy: 0.6056
Epoch 25/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4461 - accuracy: 0.6052 - val_loss: 0.4324 - val_accuracy: 0.6194
Epoch 26/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4454 - accuracy: 0.5975 - val_loss: 0.4333 - val_accuracy: 0.6131
Epoch 27/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4449 - accuracy: 0.6083 - val_loss: 0.4332 - val_accuracy: 0.6112
Epoch 28/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4423 - accuracy: 0.5992 - val_loss: 0.4333 - val_accuracy: 0.6144
Epoch 29/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4462 - accuracy: 0.6045 - val_loss: 0.4338 - val_accuracy: 0.6231
Epoch 30/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4460 - accuracy: 0.6041 - val_loss: 0.4345 - val_accuracy: 0.6194
Epoch 31/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4426 - accuracy: 0.5925 - val_loss: 0.4342 - val_accuracy: 0.6250
Epoch 32/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4431 - accuracy: 0.6006 - val_loss: 0.4336 - val_accuracy: 0.6231
Epoch 33/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4436 - accuracy: 0.6034 - val_loss: 0.4335 - val_accuracy: 0.6169
Epoch 34/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4436 - accuracy: 0.6059 - val_loss: 0.4339 - val_accuracy: 0.6169
Epoch 35/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4437 - accuracy: 0.6033 - val_loss: 0.4364 - val_accuracy: 0.6256
Epoch 36/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4446 - accuracy: 0.5983 - val_loss: 0.4330 - val_accuracy: 0.6288
Epoch 37/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4417 - accuracy: 0.6033 - val_loss: 0.4349 - val_accuracy: 0.6187
Epoch 38/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4420 - accuracy: 0.6028 - val_loss: 0.4324 - val_accuracy: 0.6212
Epoch 39/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4412 - accuracy: 0.6053 - val_loss: 0.4348 - val_accuracy: 0.6194
Epoch 40/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4411 - accuracy: 0.6055 - val_loss: 0.4337 - val_accuracy: 0.6137
Epoch 41/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4426 - accuracy: 0.6008 - val_loss: 0.4348 - val_accuracy: 0.6075
Epoch 42/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4442 - accuracy: 0.6011 - val_loss: 0.4334 - val_accuracy: 0.6169
Epoch 43/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4410 - accuracy: 0.6056 - val_loss: 0.4336 - val_accuracy: 0.6181
Epoch 44/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4415 - accuracy: 0.5964 - val_loss: 0.4328 - val_accuracy: 0.6156
Epoch 45/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4410 - accuracy: 0.5962 - val_loss: 0.4341 - val_accuracy: 0.6231
Epoch 46/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4426 - accuracy: 0.6027 - val_loss: 0.4340 - val_accuracy: 0.6069
Epoch 47/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4433 - accuracy: 0.5975 - val_loss: 0.4367 - val_accuracy: 0.6175
Epoch 48/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4424 - accuracy: 0.6094 - val_loss: 0.4358 - val_accuracy: 0.6156
Epoch 49/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4403 - accuracy: 0.6114 - val_loss: 0.4333 - val_accuracy: 0.6144
Epoch 50/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4412 - accuracy: 0.5994 - val_loss: 0.4348 - val_accuracy: 0.6187

In [ ]:
final_predict=model.predict(np.array(no_df).reshape(2000,12,7))

In [ ]:
no_recommend_dict = {}
for i in range(2000):
  no_recommend_dict[i+18000]='증권사'+str(np.argmin(final_predict[i])+1)

In [ ]:
recommend_dict.update(no_recommend_dict)
recommend_dict

{10000: '증권사1',
 10001: '증권사2',
 10002: '증권사2',
 10003: '증권사2',
 10004: '증권사3',
 10005: '증권사2',
 10006: '증권사2',
 10007: '증권사3',
 10008: '증권사1',
 10009: '증권사2',
 10010: '증권사2',
 10011: '증권사1',
 10012: '증권사2',
 10013: '증권사2',
 10014: '증권사2',
 10015: '증권사3',
 10016: '증권사2',
 10017: '증권사2',
 10018: '증권사2',
 10019: '증권사1',
 10020: '증권사3',
 10021: '증권사2',
 10022: '증권사3',
 10023: '증권사2',
 10024: '증권사2',
 10025: '증권사2',
 10026: '증권사1',
 10027: '증권사1',
 10028: '증권사2',
 10029: '증권사1',
 10030: '증권사1',
 10031: '증권사1',
 10032: '증권사3',
 10033: '증권사2',
 10034: '증권사3',
 10035: '증권사1',
 10036: '증권사1',
 10037: '증권사2',
 10038: '증권사1',
 10039: '증권사2',
 10040: '증권사3',
 10041: '증권사2',
 10042: '증권사2',
 10043: '증권사2',
 10044: '증권사2',
 10045: '증권사1',
 10046: '증권사2',
 10047: '증권사1',
 10048: '증권사2',
 10049: '증권사3',
 10050: '증권사2',
 10051: '증권사1',
 10052: '증권사2',
 10053: '증권사3',
 10054: '증권사1',
 10055: '증권사1',
 10056: '증권사2',
 10057: '증권사3',
 10058: '증권사1',
 10059: '증권사1',
 10060: '증권사2',
 10061: '증권사2',
 10062: '증권사2',
 10063: '증권사1',
 10064: '증권사2',
 10065: '증권사2',
 10066: '증권사2',
 10067: '증권사2',
 10068: '증권사3',
 10069: '증권사1',
 10070: '증권사2',
 10071: '증권사1',
 10072: '증권사2',
 10073: '증권사2',
 10074: '증권사2',
 10075: '증권사2',
 10076: '증권사3',
 10077: '증권사3',
 10078: '증권사2',
 10079: '증권사1',
 10080: '증권사1',
 10081: '증권사2',
 10082: '증권사2',
 10083: '증권사2',
 10084: '증권사2',
 10085: '증권사2',
 10086: '증권사2',
 10087: '증권사2',
 10088: '증권사3',
 10089: '증권사3',
 10090: '증권사2',
 10091: '증권사3',
 10092: '증권사2',
 10093: '증권사1',
 10094: '증권사2',
 10095: '증권사3',
 10096: '증권사2',
 10097: '증권사2',
 10098: '증권사3',
 10099: '증권사2',
 10100: '증권사2',
 10101: '증권사1',
 10102: '증권사2',
 10103: '증권사2',
 10104: '증권사3',
 10105: '증권사2',
 10106: '증권사2',
 10107: '증권사1',
 10108: '증권사3',
 10109: '증권사3',
 10110: '증권사1',
 10111: '증권사2',
 10112: '증권사3',
 10113: '증권사2',
 10114: '증권사2',
 10115: '증권사2',
 10116: '증권사2',
 10117: '증권사2',
 10118: '증권사2',
 10119: '증권사2',
 10120: '증권사2',
 10121: '증권사2',
 10122: '증권사3',
 10123: '증권사1',
 10124: '증권사2',
 10125: '증권사2',
 10126: '증권사1',
 10127: '증권사1',
 10128: '증권사2',
 10129: '증권사2',
 10130: '증권사1',
 10131: '증권사2',
 10132: '증권사1',
 10133: '증권사2',
 10134: '증권사2',
 10135: '증권사2',
 10136: '증권사3',
 10137: '증권사3',
 10138: '증권사3',
 10139: '증권사2',
 10140: '증권사1',
 10141: '증권사1',
 10142: '증권사3',
 10143: '증권사1',
 10144: '증권사2',
 10145: '증권사2',
 10146: '증권사3',
 10147: '증권사3',
 10148: '증권사2',
 10149: '증권사2',
 10150: '증권사3',
 10151: '증권사3',
 10152: '증권사3',
 10153: '증권사2',
 10154: '증권사2',
 10155: '증권사3',
 10156: '증권사2',
 10157: '증권사2',
 10158: '증권사2',
 10159: '증권사3',
 10160: '증권사2',
 10161: '증권사3',
 10162: '증권사1',
 10163: '증권사1',
 10164: '증권사1',
 10165: '증권사3',
 10166: '증권사2',
 10167: '증권사1',
 10168: '증권사3',
 10169: '증권사2',
 10170: '증권사2',
 10171: '증권사1',
 10172: '증권사3',
 10173: '증권사2',
 10174: '증권사1',
 10175: '증권사2',
 10176: '증권사3',
 10177: '증권사2',
 10178: '증권사1',
 10179: '증권사1',
 10180: '증권사1',
 10181: '증권사2',
 10182: '증권사2',
 10183: '증권사1',
 10184: '증권사2',
 10185: '증권사3',
 10186: '증권사1',
 10187: '증권사1',
 10188: '증권사2',
 10189: '증권사2',
 10190: '증권사1',
 10191: '증권사1',
 10192: '증권사1',
 10193: '증권사2',
 10194: '증권사2',
 10195: '증권사2',
 10196: '증권사2',
 10197: '증권사1',
 10198: '증권사2',
 10199: '증권사1',
 10200: '증권사2',
 10201: '증권사2',
 10202: '증권사2',
 10203: '증권사3',
 10204: '증권사2',
 10205: '증권사2',
 10206: '증권사2',
 10207: '증권사3',
 10208: '증권사2',
 10209: '증권사1',
 10210: '증권사3',
 10211: '증권사2',
 10212: '증권사1',
 10213: '증권사3',
 10214: '증권사1',
 10215: '증권사2',
 10216: '증권사1',
 10217: '증권사3',
 10218: '증권사2',
 10219: '증권사2',
 10220: '증권사2',
 10221: '증권사2',
 10222: '증권사3',
 10223: '증권사2',
 10224: '증권사2',
 10225: '증권사1',
 10226: '증권사1',
 10227: '증권사1',
 10228: '증권사2',
 10229: '증권사2',
 10230: '증권사2',
 10231: '증권사3',
 10232: '증권사2',
 10233: '증권사1',
 10234: '증권사2',
 10235: '증권사2',
 10236: '증권사3',
 10237: '증권사2',
 10238: '증권사2',
 10239: '증권사2',
 10240: '증권사1',
 10241: '증권사2',
 10242: '증권사1',
 10243: '증권사2',
 10244: '증권사3',
 10245: '증권사1',
 10246: '증권사2',
 10247: '증권사3',
 10248: '증권사2',
 10249: '증권사2',
 10250: '증권사2',
 10251: '증권사2',
 10252: '증권사2',
 10253: '증권사2',
 10254: '증권사1',
 10255: '증권사2',
 10256: '증권사1',
 10257: '증권사2',
 10258: '증권사2',
 10259: '증권사2',
 10260: '증권사2',
 10261: '증권사2',
 10262: '증권사2',
 10263: '증권사1',
 10264: '증권사2',
 10265: '증권사2',
 10266: '증권사3',
 10267: '증권사3',
 10268: '증권사1',
 10269: '증권사3',
 10270: '증권사2',
 10271: '증권사3',
 10272: '증권사3',
 10273: '증권사1',
 10274: '증권사1',
 10275: '증권사2',
 10276: '증권사3',
 10277: '증권사2',
 10278: '증권사2',
 10279: '증권사1',
 10280: '증권사2',
 10281: '증권사2',
 10282: '증권사1',
 10283: '증권사2',
 10284: '증권사1',
 10285: '증권사1',
 10286: '증권사2',
 10287: '증권사1',
 10288: '증권사3',
 10289: '증권사3',
 10290: '증권사2',
 10291: '증권사1',
 10292: '증권사2',
 10293: '증권사2',
 10294: '증권사2',
 10295: '증권사1',
 10296: '증권사2',
 10297: '증권사3',
 10298: '증권사2',
 10299: '증권사3',
 10300: '증권사2',
 10301: '증권사2',
 10302: '증권사1',
 10303: '증권사2',
 10304: '증권사2',
 10305: '증권사2',
 10306: '증권사2',
 10307: '증권사2',
 10308: '증권사2',
 10309: '증권사3',
 10310: '증권사3',
 10311: '증권사1',
 10312: '증권사2',
 10313: '증권사1',
 10314: '증권사3',
 10315: '증권사3',
 10316: '증권사3',
 10317: '증권사2',
 10318: '증권사2',
 10319: '증권사3',
 10320: '증권사2',
 10321: '증권사1',
 10322: '증권사1',
 10323: '증권사2',
 10324: '증권사1',
 10325: '증권사2',
 10326: '증권사2',
 10327: '증권사1',
 10328: '증권사1',
 10329: '증권사1',
 10330: '증권사1',
 10331: '증권사2',
 10332: '증권사2',
 10333: '증권사2',
 10334: '증권사2',
 10335: '증권사3',
 10336: '증권사1',
 10337: '증권사1',
 10338: '증권사1',
 10339: '증권사1',
 10340: '증권사2',
 10341: '증권사1',
 10342: '증권사2',
 10343: '증권사2',
 10344: '증권사3',
 10345: '증권사1',
 10346: '증권사2',
 10347: '증권사3',
 10348: '증권사1',
 10349: '증권사3',
 10350: '증권사1',
 10351: '증권사3',
 10352: '증권사1',
 10353: '증권사1',
 10354: '증권사2',
 10355: '증권사2',
 10356: '증권사3',
 10357: '증권사1',
 10358: '증권사3',
 10359: '증권사3',
 10360: '증권사1',
 10361: '증권사2',
 10362: '증권사2',
 10363: '증권사1',
 10364: '증권사3',
 10365: '증권사2',
 10366: '증권사3',
 10367: '증권사2',
 10368: '증권사1',
 10369: '증권사2',
 10370: '증권사1',
 10371: '증권사3',
 10372: '증권사3',
 10373: '증권사1',
 10374: '증권사2',
 10375: '증권사1',
 10376: '증권사2',
 10377: '증권사2',
 10378: '증권사2',
 10379: '증권사1',
 10380: '증권사2',
 10381: '증권사1',
 10382: '증권사2',
 10383: '증권사3',
 10384: '증권사1',
 10385: '증권사3',
 10386: '증권사2',
 10387: '증권사2',
 10388: '증권사2',
 10389: '증권사2',
 10390: '증권사1',
 10391: '증권사2',
 10392: '증권사2',
 10393: '증권사2',
 10394: '증권사1',
 10395: '증권사3',
 10396: '증권사2',
 10397: '증권사2',
 10398: '증권사2',
 10399: '증권사1',
 10400: '증권사3',
 10401: '증권사1',
 10402: '증권사2',
 10403: '증권사1',
 10404: '증권사3',
 10405: '증권사3',
 10406: '증권사2',
 10407: '증권사2',
 10408: '증권사3',
 10409: '증권사2',
 10410: '증권사1',
 10411: '증권사2',
 10412: '증권사2',
 10413: '증권사1',
 10414: '증권사2',
 10415: '증권사2',
 10416: '증권사2',
 10417: '증권사2',
 10418: '증권사2',
 10419: '증권사2',
 10420: '증권사3',
 10421: '증권사2',
 10422: '증권사3',
 10423: '증권사2',
 10424: '증권사3',
 10425: '증권사2',
 10426: '증권사3',
 10427: '증권사2',
 10428: '증권사2',
 10429: '증권사2',
 10430: '증권사2',
 10431: '증권사1',
 10432: '증권사2',
 10433: '증권사2',
 10434: '증권사2',
 10435: '증권사3',
 10436: '증권사2',
 10437: '증권사3',
 10438: '증권사2',
 10439: '증권사2',
 10440: '증권사3',
 10441: '증권사1',
 10442: '증권사3',
 10443: '증권사1',
 10444: '증권사2',
 10445: '증권사2',
 10446: '증권사2',
 10447: '증권사2',
 10448: '증권사3',
 10449: '증권사1',
 10450: '증권사2',
 10451: '증권사3',
 10452: '증권사2',
 10453: '증권사2',
 10454: '증권사3',
 10455: '증권사2',
 10456: '증권사2',
 10457: '증권사1',
 10458: '증권사1',
 10459: '증권사1',
 10460: '증권사1',
 10461: '증권사1',
 10462: '증권사3',
 10463: '증권사3',
 10464: '증권사1',
 10465: '증권사2',
 10466: '증권사2',
 10467: '증권사3',
 10468: '증권사2',
 10469: '증권사2',
 10470: '증권사3',
 10471: '증권사2',
 10472: '증권사3',
 10473: '증권사2',
 10474: '증권사2',
 10475: '증권사1',
 10476: '증권사2',
 10477: '증권사2',
 10478: '증권사2',
 10479: '증권사2',
 10480: '증권사3',
 10481: '증권사1',
 10482: '증권사1',
 10483: '증권사2',
 10484: '증권사3',
 10485: '증권사3',
 10486: '증권사2',
 10487: '증권사1',
 10488: '증권사2',
 10489: '증권사2',
 10490: '증권사2',
 10491: '증권사1',
 10492: '증권사2',
 10493: '증권사1',
 10494: '증권사1',
 10495: '증권사3',
 10496: '증권사3',
 10497: '증권사2',
 10498: '증권사2',
 10499: '증권사2',
 10500: '증권사3',
 10501: '증권사2',
 10502: '증권사2',
 10503: '증권사3',
 10504: '증권사3',
 10505: '증권사1',
 10506: '증권사2',
 10507: '증권사2',
 10508: '증권사3',
 10509: '증권사3',
 10510: '증권사2',
 10511: '증권사2',
 10512: '증권사3',
 10513: '증권사1',
 10514: '증권사2',
 10515: '증권사3',
 10516: '증권사3',
 10517: '증권사3',
 10518: '증권사2',
 10519: '증권사2',
 10520: '증권사1',
 10521: '증권사3',
 10522: '증권사1',
 10523: '증권사3',
 10524: '증권사2',
 10525: '증권사2',
 10526: '증권사2',
 10527: '증권사3',
 10528: '증권사3',
 10529: '증권사1',
 10530: '증권사1',
 10531: '증권사2',
 10532: '증권사2',
 10533: '증권사1',
 10534: '증권사2',
 10535: '증권사2',
 10536: '증권사2',
 10537: '증권사2',
 10538: '증권사2',
 10539: '증권사3',
 10540: '증권사3',
 10541: '증권사2',
 10542: '증권사2',
 10543: '증권사3',
 10544: '증권사1',
 10545: '증권사2',
 10546: '증권사2',
 10547: '증권사3',
 10548: '증권사2',
 10549: '증권사3',
 10550: '증권사2',
 10551: '증권사2',
 10552: '증권사2',
 10553: '증권사2',
 10554: '증권사3',
 10555: '증권사3',
 10556: '증권사2',
 10557: '증권사2',
 10558: '증권사2',
 10559: '증권사1',
 10560: '증권사2',
 10561: '증권사3',
 10562: '증권사2',
 10563: '증권사1',
 10564: '증권사1',
 10565: '증권사3',
 10566: '증권사3',
 10567: '증권사1',
 10568: '증권사1',
 10569: '증권사2',
 10570: '증권사1',
 10571: '증권사2',
 10572: '증권사2',
 10573: '증권사3',
 10574: '증권사2',
 10575: '증권사2',
 10576: '증권사2',
 10577: '증권사2',
 10578: '증권사2',
 10579: '증권사2',
 10580: '증권사2',
 10581: '증권사2',
 10582: '증권사2',
 10583: '증권사2',
 10584: '증권사2',
 10585: '증권사3',
 10586: '증권사2',
 10587: '증권사1',
 10588: '증권사2',
 10589: '증권사1',
 10590: '증권사2',
 10591: '증권사3',
 10592: '증권사1',
 10593: '증권사2',
 10594: '증권사2',
 10595: '증권사2',
 10596: '증권사1',
 10597: '증권사3',
 10598: '증권사1',
 10599: '증권사2',
 10600: '증권사1',
 10601: '증권사2',
 10602: '증권사3',
 10603: '증권사3',
 10604: '증권사2',
 10605: '증권사2',
 10606: '증권사3',
 10607: '증권사3',
 10608: '증권사2',
 10609: '증권사2',
 10610: '증권사2',
 10611: '증권사2',
 10612: '증권사1',
 10613: '증권사2',
 10614: '증권사2',
 10615: '증권사3',
 10616: '증권사2',
 10617: '증권사2',
 10618: '증권사1',
 10619: '증권사3',
 10620: '증권사2',
 10621: '증권사2',
 10622: '증권사1',
 10623: '증권사1',
 10624: '증권사3',
 10625: '증권사2',
 10626: '증권사2',
 10627: '증권사1',
 10628: '증권사3',
 10629: '증권사3',
 10630: '증권사1',
 10631: '증권사2',
 10632: '증권사2',
 10633: '증권사2',
 10634: '증권사3',
 10635: '증권사2',
 10636: '증권사2',
 10637: '증권사3',
 10638: '증권사3',
 10639: '증권사2',
 10640: '증권사2',
 10641: '증권사2',
 10642: '증권사2',
 10643: '증권사3',
 10644: '증권사3',
 10645: '증권사2',
 10646: '증권사1',
 10647: '증권사3',
 10648: '증권사3',
 10649: '증권사3',
 10650: '증권사3',
 10651: '증권사2',
 10652: '증권사2',
 10653: '증권사2',
 10654: '증권사3',
 10655: '증권사1',
 10656: '증권사1',
 10657: '증권사2',
 10658: '증권사2',
 10659: '증권사3',
 10660: '증권사3',
 10661: '증권사3',
 10662: '증권사3',
 10663: '증권사2',
 10664: '증권사2',
 10665: '증권사1',
 10666: '증권사2',
 10667: '증권사2',
 10668: '증권사2',
 10669: '증권사3',
 10670: '증권사2',
 10671: '증권사2',
 10672: '증권사3',
 10673: '증권사2',
 10674: '증권사2',
 10675: '증권사1',
 10676: '증권사2',
 10677: '증권사2',
 10678: '증권사2',
 10679: '증권사3',
 10680: '증권사2',
 10681: '증권사2',
 10682: '증권사1',
 10683: '증권사2',
 10684: '증권사2',
 10685: '증권사2',
 10686: '증권사3',
 10687: '증권사2',
 10688: '증권사2',
 10689: '증권사3',
 10690: '증권사1',
 10691: '증권사1',
 10692: '증권사2',
 10693: '증권사1',
 10694: '증권사3',
 10695: '증권사2',
 10696: '증권사3',
 10697: '증권사2',
 10698: '증권사2',
 10699: '증권사1',
 10700: '증권사1',
 10701: '증권사3',
 10702: '증권사2',
 10703: '증권사1',
 10704: '증권사2',
 10705: '증권사2',
 10706: '증권사2',
 10707: '증권사2',
 10708: '증권사2',
 10709: '증권사3',
 10710: '증권사3',
 10711: '증권사2',
 10712: '증권사2',
 10713: '증권사3',
 10714: '증권사1',
 10715: '증권사3',
 10716: '증권사2',
 10717: '증권사3',
 10718: '증권사2',
 10719: '증권사3',
 10720: '증권사3',
 10721: '증권사1',
 10722: '증권사3',
 10723: '증권사1',
 10724: '증권사1',
 10725: '증권사1',
 10726: '증권사3',
 10727: '증권사1',
 10728: '증권사2',
 10729: '증권사2',
 10730: '증권사2',
 10731: '증권사1',
 10732: '증권사3',
 10733: '증권사3',
 10734: '증권사2',
 10735: '증권사2',
 10736: '증권사2',
 10737: '증권사2',
 10738: '증권사3',
 10739: '증권사2',
 10740: '증권사1',
 10741: '증권사1',
 10742: '증권사3',
 10743: '증권사2',
 10744: '증권사1',
 10745: '증권사3',
 10746: '증권사1',
 10747: '증권사3',
 10748: '증권사2',
 10749: '증권사2',
 10750: '증권사1',
 10751: '증권사3',
 10752: '증권사2',
 10753: '증권사2',
 10754: '증권사2',
 10755: '증권사2',
 10756: '증권사1',
 10757: '증권사3',
 10758: '증권사2',
 10759: '증권사1',
 10760: '증권사3',
 10761: '증권사3',
 10762: '증권사2',
 10763: '증권사2',
 10764: '증권사2',
 10765: '증권사3',
 10766: '증권사1',
 10767: '증권사2',
 10768: '증권사3',
 10769: '증권사2',
 10770: '증권사1',
 10771: '증권사3',
 10772: '증권사3',
 10773: '증권사2',
 10774: '증권사2',
 10775: '증권사2',
 10776: '증권사2',
 10777: '증권사1',
 10778: '증권사2',
 10779: '증권사2',
 10780: '증권사3',
 10781: '증권사2',
 10782: '증권사3',
 10783: '증권사1',
 10784: '증권사3',
 10785: '증권사3',
 10786: '증권사2',
 10787: '증권사2',
 10788: '증권사2',
 10789: '증권사3',
 10790: '증권사1',
 10791: '증권사1',
 10792: '증권사3',
 10793: '증권사2',
 10794: '증권사2',
 10795: '증권사1',
 10796: '증권사2',
 10797: '증권사1',
 10798: '증권사1',
 10799: '증권사1',
 10800: '증권사1',
 10801: '증권사2',
 10802: '증권사2',
 10803: '증권사2',
 10804: '증권사2',
 10805: '증권사3',
 10806: '증권사3',
 10807: '증권사2',
 10808: '증권사2',
 10809: '증권사1',
 10810: '증권사3',
 10811: '증권사1',
 10812: '증권사1',
 10813: '증권사3',
 10814: '증권사1',
 10815: '증권사2',
 10816: '증권사1',
 10817: '증권사3',
 10818: '증권사2',
 10819: '증권사1',
 10820: '증권사2',
 10821: '증권사3',
 10822: '증권사2',
 10823: '증권사1',
 10824: '증권사2',
 10825: '증권사2',
 10826: '증권사2',
 10827: '증권사1',
 10828: '증권사3',
 10829: '증권사3',
 10830: '증권사2',
 10831: '증권사1',
 10832: '증권사2',
 10833: '증권사2',
 10834: '증권사2',
 10835: '증권사3',
 10836: '증권사3',
 10837: '증권사2',
 10838: '증권사1',
 10839: '증권사3',
 10840: '증권사3',
 10841: '증권사2',
 10842: '증권사2',
 10843: '증권사3',
 10844: '증권사2',
 10845: '증권사3',
 10846: '증권사1',
 10847: '증권사2',
 10848: '증권사3',
 10849: '증권사2',
 10850: '증권사2',
 10851: '증권사3',
 10852: '증권사2',
 10853: '증권사2',
 10854: '증권사2',
 10855: '증권사2',
 10856: '증권사2',
 10857: '증권사2',
 10858: '증권사3',
 10859: '증권사3',
 10860: '증권사2',
 10861: '증권사2',
 10862: '증권사1',
 10863: '증권사1',
 10864: '증권사2',
 10865: '증권사3',
 10866: '증권사1',
 10867: '증권사3',
 10868: '증권사2',
 10869: '증권사3',
 10870: '증권사2',
 10871: '증권사3',
 10872: '증권사2',
 10873: '증권사3',
 10874: '증권사1',
 10875: '증권사1',
 10876: '증권사3',
 10877: '증권사3',
 10878: '증권사3',
 10879: '증권사1',
 10880: '증권사1',
 10881: '증권사3',
 10882: '증권사2',
 10883: '증권사3',
 10884: '증권사1',
 10885: '증권사1',
 10886: '증권사2',
 10887: '증권사1',
 10888: '증권사1',
 10889: '증권사2',
 10890: '증권사2',
 10891: '증권사2',
 10892: '증권사2',
 10893: '증권사2',
 10894: '증권사2',
 10895: '증권사2',
 10896: '증권사3',
 10897: '증권사3',
 10898: '증권사3',
 10899: '증권사2',
 10900: '증권사3',
 10901: '증권사2',
 10902: '증권사1',
 10903: '증권사3',
 10904: '증권사3',
 10905: '증권사1',
 10906: '증권사2',
 10907: '증권사3',
 10908: '증권사2',
 10909: '증권사1',
 10910: '증권사2',
 10911: '증권사2',
 10912: '증권사2',
 10913: '증권사3',
 10914: '증권사1',
 10915: '증권사1',
 10916: '증권사3',
 10917: '증권사2',
 10918: '증권사1',
 10919: '증권사3',
 10920: '증권사3',
 10921: '증권사3',
 10922: '증권사1',
 10923: '증권사3',
 10924: '증권사1',
 10925: '증권사2',
 10926: '증권사1',
 10927: '증권사3',
 10928: '증권사1',
 10929: '증권사2',
 10930: '증권사1',
 10931: '증권사1',
 10932: '증권사2',
 10933: '증권사1',
 10934: '증권사2',
 10935: '증권사2',
 10936: '증권사1',
 10937: '증권사1',
 10938: '증권사2',
 10939: '증권사3',
 10940: '증권사1',
 10941: '증권사3',
 10942: '증권사2',
 10943: '증권사2',
 10944: '증권사2',
 10945: '증권사1',
 10946: '증권사3',
 10947: '증권사2',
 10948: '증권사2',
 10949: '증권사3',
 10950: '증권사1',
 10951: '증권사1',
 10952: '증권사2',
 10953: '증권사3',
 10954: '증권사1',
 10955: '증권사3',
 10956: '증권사2',
 10957: '증권사2',
 10958: '증권사2',
 10959: '증권사3',
 10960: '증권사2',
 10961: '증권사2',
 10962: '증권사3',
 10963: '증권사3',
 10964: '증권사3',
 10965: '증권사2',
 10966: '증권사3',
 10967: '증권사2',
 10968: '증권사3',
 10969: '증권사1',
 10970: '증권사2',
 10971: '증권사1',
 10972: '증권사1',
 10973: '증권사2',
 10974: '증권사2',
 10975: '증권사2',
 10976: '증권사1',
 10977: '증권사2',
 10978: '증권사2',
 10979: '증권사3',
 10980: '증권사3',
 10981: '증권사3',
 10982: '증권사1',
 10983: '증권사2',
 10984: '증권사3',
 10985: '증권사1',
 10986: '증권사2',
 10987: '증권사2',
 10988: '증권사2',
 10989: '증권사2',
 10990: '증권사2',
 10991: '증권사2',
 10992: '증권사2',
 10993: '증권사2',
 10994: '증권사1',
 10995: '증권사3',
 10996: '증권사3',
 10997: '증권사3',
 10998: '증권사3',
 10999: '증권사2',
 ...}

In [ ]:
person = int(input("person_id를 입력하세요: "))
print(str(person)+'의 추천 증권사는 '+str(recommend_dict[person])+' 입니다.')

person_id를 입력하세요: 19876
19876의 추천 증권사는 증권사1 입니다.

In [ ]:
from collections import Counter
counts = Counter(recommend_dict.values())
print(counts)

Counter({'증권사2': 4578, '증권사1': 2887, '증권사3': 2535})